*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  counter-reset: ded;
  background-image: url("img/Games_Duck_Hunt_Nintendo_Dendy_Nes_025749_9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 bottom;
  position: relative;
  cursor: url("/img/curs34.png"), crosshair;
  overflow: hidden;
}

input[type="checkbox"]:checked {
  counter-increment: ded;
}

input[type="checkbox"]:checked + label {
  display: none;
}

.count {
  position: absolute;
  left: 50%;
  bottom: 25px;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  transform: translateX(-50%);
  border: 3px solid #fff;
  background-color: rgba(220, 13, 13, 0.4);
  padding: 25px;
  /* width: 300px; */
  text-align: center;
}

/* .count img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  filter: blur(5px);
} */

.count::after {
  content: counter(ded);
}

.duck {
  width: 62px;
  height: 56px;
  /* outline: 1px solid red; */
  overflow: hidden;
  position: relative;
  cursor: url("/img/curs34.png"), crosshair;
  position: absolute;
  left: -80px;
  top: 50%;
}

.duck input[type="checkbox"] {
  position: absolute;
  left: -80px;
}

.duck label {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("/img/duck_hunt_bird_big2.gif");
  background-repeat: no-repeat;
  cursor: url("/img/curs34.png"), crosshair;
}

@keyframes fly1 {
  0% {
    left: -80px;
    top: 90%;
  }
  25% {
    left: 20%;
    top: 90%;
    /*transform: rotate(180deg);*/
  }
  55% {
    left: 40%;
    top: 80%;
    transform: scale(1.2);
  }
  80% {
    left: 65%;
    top: 60%;
  }
  100% {
    left: 120%;
    top: 20%;
  }
  
}

@keyframes fly2 {
  0% {
    left: -80px;
    top: 15%;
  }
  25% {
    left: 20%;
    top: 20%;
    /*transform: rotate(180deg);*/
  }
  55% {
    left: 45%;
    top: 15%;
    transform: scale(1.2);
  }
  80% {
    left: 65%;
    top: 20%;
  }
  100% {
    left: 120%;
    top: 15%;
  }
  
}

@keyframes fly3 {
  0% {
    left: -80px;
    top: 35%;
  }
  25% {
    left: 20%;
    top: 40%;
    /*transform: rotate(180deg);*/
  }
  55% {
    left: 45%;
    top: 35%;
    transform: scale(1.2);
  }
  80% {
    left: 65%;
    top: 40%;
  }
  100% {
    left: 120%;
    top: 35%;
  }
  
}

@keyframes fly4 {
  0% {
    left: -80px;
    top: 85%;
  }
  100% {
    left: 120%;
    top: 85%;
  }
  
}


@keyframes fly5 {
  0% {
    left: -80px;
    top: 10%;
    transform: rotate(180deg);
  }
  25% {
    left: 20%;
    top: 10%;
    transform: rotate(360deg);
  }
  55% {
    left: 45%;
    top: 10%;
    transform: scale(1.2);
    transform: rotate(180deg);
  }
  80% {
    left: 65%;
    top: 10%;
    transform: rotate(360deg);
  }
  100% {
    left: 120%;
    top: 10%;
    transform: rotate(180deg);
  }
  
  
}

@keyframes fly6 {
  0% {
    left: -80px;
    top: 50%;
    transform: scale(10);
    transform: rotate(180deg);
  }
  100% {
    left: 120%;
    top: 50%;
    
    transform: scale(10);
  }
  
}

.duck1 {
  animation: fly1 5s 3;
}

.duck2 {
  animation: fly2 4s 5s 3;
}

.duck3 {
  animation: fly3 3s 10s 2;
}
.duck4 {
  animation: fly4 20s 15s 1;
}
.duck5 {
  animation: fly5 3s 15s 1;
}

.duck6 {
  animation: fly6 5s 10s 1;
}
